<Layouts.app flash={@flash}>
  <main>
    <figure>
      <img src={"/media/preview/#{@image.album_id}/#{@image.id}.webp"} />
      <figcaption>{@image.filename}</figcaption>
    </figure>
  </main>
</Layouts.app>
